// Brand
$primary-color:    #000000 !default;
$accent-color:     #ff00ff !default;
$text-color:       #000000 !default;
$background-color: #ffffff !default;

// Typography
$primary-font-family:   'Lato', sans-serif !default;
$secondary-font-family: 'Lato', sans-serif !default;
$font-size-lg:          20px !default;
$font-size-md:          18px !default;
$font-size-sm:          16px !default;

// Breakpoints
$bp-sm: 40rem !default;
$bp-md: 60rem !default;
$bp-lg: 70rem !default;
$bp-xl: 90rem !default;
$bp-xxl: 100rem !default;

// Navigation
$nav-height:        64px !default;
$nav-bg-color:      $background-color !default;
$nav-font-size:     18px !default;
$nav-border-size:   3px !default;
$nav-border-color:  $accent-color !default;
