{%- extends 'partials/base.html.twig' -%}

{%- block content -%}
  <main class="page">
    <section class="content">
      {{- page.content() -}}
    </section>

    <div class="catalog">
      {%- for p in page.collection() -%}
        <article>
          <a href="{{- p.url() -}}">
            <h2>{{- p.title() -}}</h2>
          </a>
          {{- p.summary() -}}
        </article>
      {%- endfor -%}
    </div>
  </main>
{%- endblock -%}
