{%- extends 'partials/base.html.twig' -%}

{%- block content -%}
  <main class="page page--error">
    <section class="content">
      {{- page.content() -}}
    </section>
  </main>
{%- endblock -%}
